<?xml version="1.0" encoding="UTF-8"?>
<menu xmlns="www.epam.task.xml.com">

    <dish ID="1">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Ассорти рыбное</name>
        <description>Слабосалёная форель,сёмга</description>
        <portion>100/100</portion>
        <price>135</price>
    </dish>

    <dish ID="2">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Тарталетки с красной икрой</name>
        <description>Тарталетки с красной икрой</description>
        <portion>60/50</portion>
        <price>70</price>
    </dish>

    <dish ID="3">
        <dishType>cold snacks</dishType>
        <photo>some photo</photo>
        <name>Закуска по-русски</name>
        <description>Кусочки атлантической сельди с отварным картофелем, луком и зеленью</description>
        <portion>70/50/2/10</portion>
        <price>110</price>
    </dish>

    <dish ID="4">
        <dishType>cold snacks</dishType>
        <photo>some photo</photo>
        <name>Куриный рулет</name>
        <description>Куриный рулет собственного производства</description>
        <portion>100/5</portion>
        <price>95</price>
    </dish>

    <dish ID="5">
        <dishType>cold snacks</dishType>
        <photo>some photo</photo>
        <name>Бастурма</name>
        <description>Вяленая вырезка из говяжьего мяса</description>
        <portion>50/5</portion>
        <price>145</price>
    </dish>

    <dish ID="6">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Ассорти мясное</name>
        <description>Нарезка из буженины, бастурмы, куриного рулета собственного производства и колбасы</description>
        <portion>100/30</portion>
        <price>125</price>
    </dish>

    <dish ID="7">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Язык отварной</name>
        <description>Нарезка нежного говяжьего языка, подается с хреном</description>
        <portion>80/20/1</portion>
        <price>125</price>
    </dish>

    <dish ID="8">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Ассорти баклажаны</name>
        <description>Жаренные баклажаны с помидорами</description>
        <portion>100/5</portion>
        <price>0</price>
    </dish>

    <dish ID="9">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Ассорти баклажаны</name>
        <description>Жаренные баклажаны с чесноком</description>
        <portion>100/5</portion>
        <price>0</price>
    </dish>

    <dish ID="10">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Ассорти баклажаны</name>
        <description>Жаренные баклажаны с орехами</description>
        <portion>100/5</portion>
        <price>0</price>
    </dish>

    <dish ID="11">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Соленья по-домашнему</name>
        <description>Маринованные овощи</description>
        <portion>150/10</portion>
        <price>0</price>
    </dish>

    <dish ID="12">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Бабушкины угощенья</name>
        <description>Ассорти из маринованных грибов</description>
        <portion>120/20/10</portion>
        <price>0</price>
    </dish>

    <dish ID="13">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Сырная тарелка</name>
        <description>Сыры Чечел, дор блю, российский, мраморный</description>
        <portion>100/5</portion>
        <price>0</price>
    </dish>

    <dish ID="14">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Брынза</name>
        <description>Рассольный сыр, изготавливаемый из овечьего молока</description>
        <portion>75/5</portion>
        <price>0</price>
    </dish>

    <dish ID="15">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Зелень</name>
        <description>Кинза, лук, петрушка, укроп, базалик</description>
        <portion>30</portion>
        <price>0</price>
    </dish>

    <dish ID="16">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Ассорти овощное</name>
        <description>Свежие помидоры, болгарский перец, огурцы, редис и зелень</description>
        <portion>150/10</portion>
        <price>0</price>
    </dish>

    <dish ID="17">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Овощной букет</name>
        <description>Корейская морковь, капуста, фунчоза</description>
        <portion>150/10</portion>
        <price>0</price>
    </dish>

    <dish ID="18">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Овощи по-армянски</name>
        <description>Мелко нарезанные свежие помидоры, огурцы, болгарский перец, укроп, базилик, кинза, лист салата, зелень</description>
        <portion>150/40</portion>
        <price>0</price>
    </dish>

    <dish ID="19">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Сеньор Помидор</name>
        <description>Помидор, фаршированный муссом</description>
        <portion>150/1</portion>
        <price>0</price>
    </dish>

    <dish ID="20">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Фестиваль салатов</name>
        <description>without description</description>
        <portion>400/10</portion>
        <price>0</price>
    </dish>

    <dish ID="21">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Оливки, маслины</name>
        <description>without description</description>
        <portion>50</portion>
        <price>0</price>
    </dish>

    <dish ID="22">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Лимон</name>
        <description>without description</description>
        <portion>60</portion>
        <price>0</price>
    </dish>

    <dish ID="23">
        <dishType>cold snacks</dishType>
        <photo>some path</photo>
        <name>Мацони</name>
        <description>without description</description>
        <portion>300</portion>
        <price>0</price>
    </dish>
</menu>